{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  {% for lst in lists %}
    <div class="row">
      <div class="col-md-12">
        <h2>{{ lst['name'] }}</h2>
      </div>
    </div>
    {% if not items[lst['id']] %}
      <div class="row">
        <div class="col-md-12">
          <p>No items in list "{{ lst['name'] }}".</p>
        </div>
      </div>
    {% endif %}
    {% for item in items[lst['id']] %}
      {% if loop.index0 % 3 == 0 %}
        <div class="row">
      {% endif %}
      <div class="col-md-4">
        <div class="card" style="margin-bottom:20px">
          <div class="card-body">
            {{ item['title'] }}
          </div>
        </div>
      </div>
      {% if loop.index0 % 3 == 2 or loop.last %}
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <div class="row">
    <div class="col-md-12">
      <h2>Add new item</h2>
      <form action="/items" method="post">
        <label for="title">Item title: </label>
        <input type="text" name="title" id="title" required>
        <input type="submit" value="Add">
      </form>
    </div>
  </div>
{% endblock %}